@model AdminPanelModel

@{
    ViewData["Title"] = "Create";
    SelectList List = new SelectList(Model.UserList, "Id", "UserName");
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            </tr>
        }
    </tbody>
</table>

<h3 class="card-title">Blokowanie Użytkowników</h3>
<div class="row">
    <div class="col-sm">
        <form asp-action="BlockUser">
            <div class="form-group my-3">
                <label class="control-label mr-5 my-3">Użytkownik</label>
                <select asp-items="@(List)"
                        class="form-control" asp-for="BlockedUserId">
                    <option value="wybierz">---Wybierz---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Zablokuj" class="btn btn-secondary" color="orange" />
            </div>
        </form>
    </div>
</div>

<h3 class="card-title"></h3>

<h3 class="card-title">Usuwanie Użytkowników</h3>
<div class="row">
    <div class="col-sm">
        <form asp-action="DeleteUser">
            <div class="form-group my-3">
                <label class="control-label mr-5 my-3">Użytkownik</label>
                <select asp-items="@(List)"
                        class="form-control" asp-for="DeletedUserId">
                    <option value="wybierz">---Wybierz---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Usuń" class="btn btn-secondary" color="red" />
            </div>
        </form>
    </div>
</div>

<h3 class="card-title">Wzmocniona weryfikacja zmiany haseł</h3>
@if (PasswordVerification.PasswordVerificationEnabled)
{
    <div class="row">
        <div class="col-sm">
            <form asp-action="DisableVerification">
                <div class="form-group">
                    <input type="submit" value="Wyłącz" class="btn btn-danger" color="red" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm">
            <form asp-action="EnableVerification">
                <div class="form-group">
                    <input type="submit" value="Włącz" class="btn btn-primary" color="green" />
                </div>
            </form>
        </div>
    </div>
}


<h3 class="card-title">Zamiana hasła na wygenerowane</h3>
<a>hasło to liczba utworzona według wzoru: a*sin(x), gdzie a to długość nazwy użytkownika, natomiast x to liczba losowa</a>
<div class="row">
    <div class="col-sm">
        <form asp-action="ChangeUserPassword">
            <div class="form-group my-3">
                <label class="control-label mr-5 my-3">Użytkownik</label>
                <select asp-items="@(List)"
                        class="form-control" asp-for="UserToChangePassId">
                    <option value="wybierz">---Wybierz---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Zmień hasło" class="btn btn-secondary" color="yellow" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }